[submodule "necat-core"]
	path = necat-core
	url = https://github.com/kobofare/necat-core.git
[submodule "necat-test"]
	path = necat-test
	url = https://github.com/kobofare/necat-test.git
[submodule "necat-model"]
	path = necat-model
	url = https://github.com/kobofare/necat-model.git
